.wrapper {
    margin: 4% auto;
}

.wrapper .previewContent {
    display: flex;
    align-items: center;
    height: 740px;
    position: relative;
    margin: auto;
    width: 1220px;

}

.wrapper .previewContent .previewInfo .textPlatform {
    color: var(--Primaty-Cyan-Dark, #2B788B);
    font: 700 16px Montserrat;
    margin-bottom: 24px;
}

.wrapper .previewContent .previewInfo h1 {
    width: 550px;
    color: var(--Primaty-Black, #000);
    font: 400 56px Dela Gothic One;
    margin-bottom: 24px;
}

.wrapper .previewContent .previewInfo .textAdditional {
    width: 397px;
    color: var(--Primaty-Grey-Dark, #757575);
    font: 700 16px Montserrat;
    margin-bottom: 32px;
}

.wrapper .previewContent .previewInfo .btn {
    border-radius: 100px;
    background: var(--Primaty-Cyan-Light, #C3DCE3);
    padding: 14px 22px;
    color: #2B788B;
    font: 700 16px Montserrat;
    width: 175px;
    height: 44px;
    margin-bottom: 49px;
}

.wrapper .previewContent .previewInfo .statistic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 165px;
    height: 60px;
}

.wrapper .previewContent .previewInfo .statistic .ImgLightning {
    background-image: url(./assets/lightning.png);
    width: 24px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}

.wrapper .previewContent .previewInfo .statistic .studentCount {
    color: #000;
    font: 400 40px Dela Gothic One;
}

.wrapper .previewContent .previewInfo .statistic .studentCount span {
    color: #2B788B;
    font: 400 40px Dela Gothic One;
}

.wrapper .previewContent .previewInfo .textStudents {
    color: #585858;
    font: 600 16px Montserrat;
    margin-left: 45px;
}

.wrapper .previewContent .previewImg {
    background-image: url(./assets/boy.png);
    width: 933px;
    height: 601px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-left: 550px;
}

.wrapper .wrapper_learn {
    background-color: #fff;
}

.wrapper .learnContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 580px;
    width: 1220px;
    margin: auto;
    margin-bottom: 100px;
}

.wrapper .learnContent .learnImg {
    background-image: url(./assets/meditation.png);
    width: 580px;
    height: 445px;
    background-repeat: no-repeat;
    background-size: contain;
}

.wrapper .learnContent .learnInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 484px;
    height: 500px;
}

.wrapper .learnContent .learnInfo h2 {
    color: var(--Primaty-Black, #000);
    font: 400 48px Dela Gothic One;
    margin-bottom: 30px;
}

.wrapper .learnContent .learnInfo .textLearning {
    color: var(--Primaty-Grey-Dark, #757575);
    font: 600 18px Montserrat;
    margin-bottom: 30px;
}

.wrapper .learnContent .learnInfo .icon {
    display: flex;
}

.wrapper .learnContent .learnInfo .icon .ImgSneakers {
    background-image: url(./assets/sneakers.png);
    width: 131px;
    height: 145px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 21px;
}

.wrapper .learnContent .learnInfo .icon .ImgSound {
    background-image: url(./assets/ruper.png);
    width: 172px;
    height: 145px;
    background-repeat: no-repeat;
    background-size: contain;
}

.wrapper .knowledgeContent {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 1220px;
    margin: auto;
    margin-bottom: 100px;
}

.wrapper .knowledgeContent .knowledgeInfo {
    width: 480px;
    height: 445px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .knowledgeContent .knowledgeInfo h2 {
    color: var(--Primaty-Black, #000);
    font: 400 48px Dela Gothic One;
    margin-bottom: 30px;
}

.wrapper .knowledgeContent .knowledgeInfo .textknowledge {
    color: var(--Primaty-Grey-Dark, #757575);
    font: 600 18px Montserrat;
    width: 397px;
    margin-bottom: 30px;
}

.wrapper .knowledgeContent .knowledgeInfo .btn_textbook {
    border-radius: 100px;
    background: var(--Primaty-Cyan-Light, #C3DCE3);
    padding: 14px 22px;
    width: 145px;
    height: 44px;
    color: #2B788B;
    font: 700 16px Montserrat;
}

.wrapper .knowledgeContent .knowledgeImg {
    background-image: url(./assets/girlbook.png);
    width: 580px;
    height: 445px;
    background-repeat: no-repeat;
    background-size: contain;
}

.wrapper .wrapper_progress {
    background-color: #fff;
}

.wrapper .progressContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1220px;
    height: 600px;
    margin: auto;
}

.wrapper .progressContent .progressImg {
    background-image: url(./assets/gyus.png);
    width: 680px;
    height: 410px;
    background-repeat: no-repeat;
    background-size: contain;
}

.wrapper .progressContent .progressInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 475px;
    height: 300px;
}

.wrapper .progressContent .progressInfo h2 {
    font: 400 48px Dela Gothic One;
    color: var(--Primaty-Black, #000);
    margin-bottom: 30px;
}

.wrapper .progressContent .progressInfo .textprogress {
    color: var(--Primaty-Grey-Dark, #757575);
    font: 600 18px Montserrat;
    margin-bottom: 34px;
}

.wrapper .progressContent .progressInfo .btn_statistics {
    border-radius: 100px;
    background: var(--Primaty-Cyan-Light, #C3DCE3);
    padding: 14px 22px;
    width: 145px;
    height: 44px;
    color: #2B788B;
    font: 700 16px Montserrat;
}