.wrapper {
    width: 1220px;
    margin: auto;
}

.wrapper .courses {
    border-radius: 14px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.wrapper .courses .hat {
    background-image: url(./assets/fluent_hat-graduation.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.wrapper .courses h3 {
    color: var(--Primaty-Black, #000);
    font: 400 26px "Dela Gothic One";
}
